<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flatc - {% block title %} {% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'prices/css/authentication.css' %}" rel="stylesheet" media="screen">
</head>

<body>

        <header style="display: none">
            <div class="container_header">
                <img id="logo_main_header" src="{% static 'prices/img/logo_flatc.png' %}" width="280px">
                <form class="form-horizontal" id="form-signout" method="get">
                    <button id="logout" class="btn btn-danger" type="submit">Sign Out</button>
                </form>
                <form class="form-horizontal" id="form-profile" method="get">
                    <button id="profile" class="btn btn-default" type="submit">Profile</button>
                </form>
            </div>
        </header>


        <div id="alert_co" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none">
            </button> <h1>Welcome <strong>{{ user.get_username }} !</strong></h1>
            <p>Congratulation ! You are now logged</p>
        </div>

        <div class="home" style="display: none">
            <div class="offers_status">
                <div class="state_offers accepted_offers">
                    <h3>Accepted Offers</h3>
                    <h2></h2>
                </div>
                <div class="state_offers waiting_offers">
                    <h3>Waiting Offers</h3>
                    <h2></h2>
                </div>
                <div class="state_offers refused_offers">
                    <h3>Refused Offers</h3>
                    <h2></h2>
                </div>
            </div>
            <div class="items">
                <ul class="nav nav-tabs" id="items_tabs">
                    <li class="active"><a href="#products">Products</a></li>
                    <li><a href="#offers">Offers</a></li>
                    <li><a href="#customers">Customers</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="products">
                        <table class="table table-hover table_products table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Reference</th>
                                    <th>Cost</th>
                                    <th>Selling Cost</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customers">
                        <table class="table table-hover table_customers table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Mail</th>
                                    <th>Phone</th>
                                    <th>City</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="offers">
                        <table class="table table-hover table_offers table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Reference</th>
                                    <th>Expiration Date</th>
                                    <th>Creation Date</th>
                                    <th>Customer who asked</th>
                                    <th>Products</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="display: none">
            <img id="logo_main" src="{% static 'prices/img/logo_flatc.png' %}" width="280px">

            <ul class="nav nav-tabs" id="signInTab">
                <li class="active"><a href="#signin">Sign In</a></li>
                <li><a href="#register">Register</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="signin">
                    <form class="form-horizontal" id="form-signin" method="post">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
                <div class="tab-pane" id="register">
                    <form class="form-horizontal" id="form-register" method="post">
                        <h2 class="form-register-heading">Please register</h2>
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.email }}
                        {{ form.password }}
                        {{ form.password_conf }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    </form>
                </div>
                    <h3>Result:</h3>
                <div id="result"></div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_product">Create Product</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_offer">Create Offer</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_customer">Create Customer</button>

        <div id="create_product" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">New product</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="form-product" method="post">
                    {{ form.name }}
                    {{ form.details }}
                    {{ form.cost }}
                    {{ form.selling_cost }}
                    {{ form.note }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

        <div id="create_customer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">New customer</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="form-customer" method="post">
                    {{ form.name }}
                    {{ form.phone }}
                    {{ form.mail }}
                    {{ form.address1 }}
                    {{ form.address2 }}
                    {{ form.zip_code }}
                    {{ form.city }}
                    {{ form.state }}
                    {{ form.country }}
                    {{ form.note }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

        <div id="create_offer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">New offer</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="form-offer" method="post">
                    {{ form.reference }}
                    {{ form.expiration_date }}
                    {{ form.creation_date }}
                    {{ form.customer }}
                    {{ form.products }}
                    {{ form.status }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>


    <!-- /container -->
    {% load staticfiles %}
    <script>
        AJAX_UPDATE_DATA = "{% url 'prices:update_data_view' %}";
        AJAX_LOGIN = "{% url 'users:login_view' %}";
        AJAX_REGISTER = "{% url 'users:register_view' %}";
        AJAX_LOGOUT = "{% url 'users:logout_view' %}";
        AJAX_ISCO = "{% url 'users:is_connected_view' %}";
        AJAX_CREATE_OFFER = "{% url 'prices:create_offer_view' %}";
        AJAX_CREATE_PRODUCT = "{% url 'prices:create_product_view' %}";
        AJAX_CREATE_CUSTOMER = "{% url 'prices:create_customer_view' %}";
    </script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'prices/js/class_products.js' %}"></script>
    <script src="{% static 'prices/js/class_offers.js' %}"></script>
    <script src="{% static 'prices/js/class_customers.js' %}"></script>
    <script src="{% static 'prices/js/update_data.js' %}"></script>
    <script src="{% static 'prices/js/get_cookies.js' %}"></script>
    <script src="{% static 'prices/js/on_login.js' %}"></script>
    <script src="{% static 'prices/js/on_refresh.js' %}"></script>
    <script src="{% static 'prices/js/on_register.js' %}"></script>
    <script src="{% static 'prices/js/on_logout.js' %}"></script>
    <script src="{% static 'prices/js/ajax.js' %}"></script>


    <script>
        jQuery(document).ready(function ($) {
            $('#signInTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('#items_tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });



        });
    </script>
</body>
</html>